*{
    margin: 0px;
    padding: 0px;
}
body{
    cursor: default;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}
body>header>div{
    z-index: 2;
    border-radius: 5px;
    position: fixed;
    background: white;
    height: 450px;
    width: 100px;
    display: grid;
    text-align: center;
    top: 10%;
    left: 10px;
}
body>header>div>ul{
    list-style: none;
}
body>header>div>ul>a>li>div{
    border-radius: 5px;
}
body>header>div>ul>a>li>div>i{
    margin-top: 10px;
}
body>header>div>ul>li>div{
    cursor: pointer;
}
body>header>div>ul>a>li{
    margin-top: 5px;
}
body>main>nav>div{
    position: absolute;
    text-align: center;
    height: 610px;
    background: white;
    border-radius: 5px;
    width: 40vw;
    left: 7%;
    top: 10px;
    z-index: 1;
}
body>main>nav>div>img#background{
    width: 100%;
    height: 40%;
}
body>main>nav>div>img#me{
    position: absolute;
    margin: auto;
    width: 30%;
    height: 27%;
    border-radius: 100%;
    top: 0;
    bottom: 12%;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0.1px 3px 10px 1px cyan;
}
body>main>nav>div>h1#name{
    font-size: 50px;
    position: relative;
    top: 12%;
    color: purple;
}
body>main>nav>div>h1#dis{
    font-size: 25px;
    position: relative;
    top: 7%;
    color: green;
}
body>main>nav>div>ul{
    list-style: none;
    position: relative;
    top: 10%;
    color: red;
}
body>main>nav>div>ul>a>li{
    display: inline;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
}
body>main>nav>div>div{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}
body>main>nav>div>div>ul{
    list-style: none;
}
body>main>nav>div>div>ul>a>li{
    display: inline;
    cursor: pointer;
    font-size: 10px;
}
body>main>nav>div>div>ul>a>li#list1{
    position: absolute;
    left: 30px;
}
body>main>nav>div>div>ul>a>li#list2{
    position: absolute;
    right: 30px;
}
body>main>nav>div>div>ul>a>li>h2{
    display: inline;
    margin-right: 15px;
}
body>main>section>div#aboutme{
    position: absolute;
    height: 590px;
    border-radius: 5px;
    width: 51vw;
    right: 25px;
    top: 20px;
    color: black;
}
body>main>section>div#aboutme>h2{
    margin-left: 30px;
    margin-top: 10px;
}
body>main>section>div#aboutme>p{
    margin-left: 30px;
    margin-top: 10px;
}
body>main>section>div#aboutme>p#p1{
    margin-top: 30px;
}
body>main>section>div#aboutme>ul{
    text-align: center;
    margin-top: 0px;
    list-style: none;
    position: absolute;
    width: 100%;
    color: blue;
}
body>main>section>div#aboutme>ul>li{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}
body>main>section>div#aboutme>ul>li:first-child{
    left: 0;
    right: 0;
    margin: auto;
}
body>main>section>div#aboutme>ul>li:nth-child(2){
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
}
body>main>section>div#aboutme>ul>li:nth-child(3){
    left: 0;
    right: 0;
    top: 60px;
    margin: auto;
}
body>main>section>div#aboutme>ul>li:nth-child(4){
    left: 0;
    right: 0;
    top: 90px;
    margin: auto;
}
body>main>section>div#aboutme>ul>li:nth-child(5){
    left: 0;
    right: 0;
    top: 120px;
    margin: auto;
}
#interests{
    position: absolute;
    top: 65%;
    color: blue;
}
body>main>section>div#aboutme>div{
    position: absolute;
    width: 90%;
    height: 20%;
    bottom: 20px;
    right: 20px;
}
body>main>section>div#aboutme>div>div{
    text-align: center;
    border-radius: 5px;
}
body>main>section>div#aboutme>div>div>i{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
}
#edmlover{
    box-shadow: 0.1px 3px 10px 1px darkred;
    height: 100%;
    width: 20%;
    color: darkred;
    position: absolute;
    left: 0;
}
#comicreader{
    box-shadow: 0.1px 3px 10px 1px forestgreen;
    height: 100%;
    width: 20%;
    color: forestgreen;
    position: absolute;
    left: 25%;
}
#martialartist{
    box-shadow: 0.1px 3px 10px 1px purple;
    height: 100%;
    width: 20%;
    color: purple;
    position: absolute;
    left: 50%;
}
#photographer{
    box-shadow: 0.1px 3px 10px 1px darkorange;
    height: 100%;
    width: 20%;
    color: darkorange;
    position: absolute;
    left: 75%;
}
body>main>section>div#skillsdiv{
    position: absolute;
    height: 280px;
    width: 91%;
    top: 630px;
    background: white;
    border-radius: 5px;
    left: 7%;
    background: url("../assets/skillback2.gif");
}
body>main>section>div#skillsdiv>div{
    display: grid;
    margin-top: 80px;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
}
body>main>section>div#skillsdiv>div>div{
    position: relative;
    text-align: center;
}
body>main>section>div#skillsdiv>div>div>div{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: white;
}
body>main>section>div#skillsdiv>div>div>div#javadiv{
    box-shadow: 0.1px 3px 10px 1px orangered;
}
body>main>section>div#skillsdiv>div>div>div#sqldiv{
    box-shadow: 0.1px 3px 10px 1px purple;
}
body>main>section>div#skillsdiv>div>div>div#jsdiv{
    box-shadow: 0.1px 3px 10px 1px darkred;
}
body>main>section>div#skillsdiv>div>div>div#htmldiv{
    box-shadow: 0.1px 3px 10px 1px black;
}
body>main>section>div#skillsdiv>div>div>div#cssdiv{
    box-shadow: 0.1px 3px 10px 1px navy;
}
body>main>section>div#skillsdiv>div>div>div>img{
    margin-top: 10%;
    height: 70%;
}
body>main>section>div#skillsdiv>h1{
    margin-top: 10px;
    display: inline-block;
    border-bottom: 2px solid blue;
    margin-left: 30px;
    color: blue;
}
body>main>section>div#education{
    position: absolute;
    height: 560px;
    width: 91%;
    top: 930px;
    border-radius: 5px;
    left: 7%;
    background: url("../assets/education.gif");
}
body>main>section>div#education>h1{
    margin-top: 10px;
    margin-left: 30px;
    color: blue;
    display: inline-block;
    border-bottom: 2px solid blue;
}
body>main>section>div#education>div{
    margin: auto;
    position: absolute;
    width: 65%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 70%;
}
body>main>section>div#education>div>ul{
    position: relative;
    list-style: none;
}
body>main>section>div#education>div>ul:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    left: 50%;
}
body>main>section>div#education>div>ul>li{
    margin-bottom: 50px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}
.dotseeneka{
    border-radius: 50%;
    height: 16px;
    line-height: 50px;
    position: absolute;
    right: -19px;
    text-align: center;
    top: 23px;
    width: 16px;
}
body>main>section>div#education>div>ul>li>div#dot1{
    right: -8px;
    top: 35px;
    background-color: green;
}
body>main>section>div#education>div>ul>li>div#education1{
    width: calc(100% - 50px);
    float: left;
    position: relative;
    min-height: inherit;
    overflow: visible;
    padding: 45px 25px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: 0.1px 3px 10px 1px green;
    border-top: 5px solid green;
    background-color: white;
    -webkit-box-sizing: border-box;
}
body>main>section>div#education>div>ul>li>div#education1:after{
    position: absolute;
    top: 30px;
    right: -10px;
    display: inline-block;
    border-top: 10px solid transparent;
    border-left: 10px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 10px solid transparent;
    content: " ";
}
body>main>section>div#education>div>ul>li>div#dot2{
    left: -8px;
    top: 35px;
    background-color: yellow;
}
body>main>section>div#education>div>ul>li>div#education2{
    width: calc(100% - 50px);
    float: right;
    position: relative;
    min-height: inherit;
    overflow: visible;
    padding: 45px 25px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: 0.1px 3px 10px 1px yellow;
    border-top: 5px solid yellow;
    background-color: white;
    -webkit-box-sizing: border-box;
}
body>main>section>div#education>div>ul>li>div#education2:after{
    position: absolute;
    top: 30px;
    left: -10px;
    display: inline-block;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-left: 0 solid #fff;
    border-bottom: 10px solid transparent;
    content: " ";
}
body>main>section>div#education>div>ul>li#invertli{
    float: right;
    clear: right;
    margin-top: 160px;
}
body>main>section>div#education>div>ul>li>div#dot3{
    right: -8px;
    top: 35px;
    background-color: fuchsia;
}
body>main>section>div#education>div>ul>li>div#education3{
    width: calc(100% - 50px);
    float: left;
    position: relative;
    min-height: inherit;
    overflow: visible;
    padding: 45px 25px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: 0.1px 3px 10px 1px fuchsia;
    border-top: 5px solid fuchsia;
    background-color: white;
    -webkit-box-sizing: border-box;
}
body>main>section>div#education>div>ul>li>div#education3:after{
    position: absolute;
    top: 30px;
    right: -10px;
    display: inline-block;
    border-top: 10px solid transparent;
    border-left: 10px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 10px solid transparent;
    content: " ";
}
body>main>section>div#education>div>ul>li#li3{
    float: left;
    clear: left;
    margin-top: 150px;
}
body>main>section>div#projects{
    position: absolute;
    height: 800px;
    width: 91%;
    top: 1510px;
    border-radius: 5px;
    left: 7%;
}
body>main>section>div#projects>h1{
    margin-top: 10px;
    display: inline-block;
    border-bottom: 2px solid blue;
    margin-left: 30px;
    color: blue;
}
body>main>section>div#projects>div{
    display: grid;
    width: 100%;
    height: 700px;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
body>main>section>div#projects>div>a>div{
    border-radius: 5px;
    margin-left: 10%;
    height: 300px;
    width: 80%;
    position: relative;
    box-shadow: 0.1px 3px 10px 1px red;
    cursor: pointer;
}
body>main>section>div#projects>div>a>div>img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
body>main>section>div#projects>div>a>div>div{
    position: absolute;
    margin: auto;
    text-align: center;
    color: white;
    text-shadow: 2px -2px black;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
body>main>section>div#projects>div>a>div>div>h4{
    margin-top: 100px;
    font-size: 22px;
}
body>main>section>div#projects>div>a>div>div>p{
    margin-top: 40px;
}
body>footer{
    position: absolute;
    height: 150px;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 2320px;
    /*background: url("../assets/skillback.gif") ;*/
    background: white;
    border-radius: 5px;
    text-align: center;
}
body>footer>h1{
    font-size: 30px;
    color: black;
    background: white;
    display: inline-block;
}
body>footer>ul{
    list-style: none;
}
body>footer>ul>li#whatsapp{
    color: black;
    background: white;
    /*display: inline-block;*/
}
body>footer>ul>li#email{
    color: black;
    background: white;
    display: inline-block;
}
body>footer>ul>li>i{
    display: inline;
    margin-right: 10px;
}
body>footer>ul>li>p{
    display: inline;
    cursor: text;
}